#header {
    color: #D45235;
    font-size: 2em;
    font-weight: bold;
}

.header_img {
    background-size: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}


/* Navbar */

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F8F3D9;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 9999;
}

.sidenav li {
    list-style: none;
}

ul {
    padding: 0;
}

.sidenav li a {
    display: block;
    text-align: center;
    color: #D45235;
    text-decoration: none;
    padding: 20px;
    -webkit-transition: 1s;
    transition: 1s;
}

.sidenav li a:hover {
    background-color: white;
    text-decoration: underline;
    transition: 0.5s;
    font-size: 1.2em;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    left: -10px;
    font-size: 46px;
    margin-left: 50px;
    color: #D45235;
    text-decoration: none;
}

#bar {
    position: fixed;
    top: 0;
    left: 20px;
    font-size: 3em;
    line-height: 80px;
    cursor: pointer;
    color: #D45235;
    z-index: 9999;
}


/* line before and after header */

.line {
    line-height: 0.1;
    text-align: center;
}

.line span {
    margin-top: 10px;
    display: inline-block;
    position: relative;
}

.line span::before,
.line span::after {
    content: "";
    position: absolute;
    height: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 300px;
}

.line span::before {
    right: 100%;
    margin-right: 15px;
}

.line span::after {
    left: 100%;
    margin-left: 15px;
}


/* */

@media only screen and (max-width: 750px) {
    .line span::before,
    .line span::after {
        width: 0;
    }
    #bar {
        font-size: 2.5em;
    }
    #header {
        font-size: 2em;
        font-weight: bold;
    }
    .header_img {
        height: 20vh;
    }
}