* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(53, 49, 49, 0.308)), url(images/background_img.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 40px;
    text-decoration: underline;
}

p {
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 150px;
    color: #D45235;
}

#dish {
    font-size: 40px;
    color: white;
    text-decoration: underline;
}


/* Media queris */

@media only screen and (max-width: 750px) {
    h1 {
        font-size: 0.6em;
        margin-bottom: 60%;
    }
    p {
        font-size: 1.0em;
        font-weight: bold;
        width: 100%;
        top: 37%;
        text-align: center;
    }
    #dish {
        font-size: 1.3em;
    }
    #bar {
        font-size: 2.5em;
    }
}