    /*


black #000000
 redish #D45235
 skincolor #F8F3D9 
*/

    body {
        background-color: #F8F3D9;
    }

    .header_img {
        background-image: url(images/header_img.jpg);
    }

    .container {
        background-color: white;
        width: 27%;
        border: 5px solid #D45235;
        padding: 10px;
        margin: 5%;
        margin-left: 18%;
    }

    #details {
        text-align: left;
    }

    h3 {
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
    }

    .times {
        padding-left: 55%;
    }

    .col {
        width: 30%;
        height: 39vh;
        border: 5px solid #D45235;
        float: right;
        text-align: center;
        padding-right: 0.3%;
        padding-bottom: 0.3%;
        margin-top: -25%;
        margin-right: 15%;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
    /* Footer*/

    .foot {
        position: absolute;
        right: 0;
        left: 0;
        padding: 11px;
        background-color: #D45235;
        text-align: center;
        margin-top: 4%;
    }

    p {
        text-transform: uppercase;
        color: white;
        text-decoration: underline;
        font-size: 100%;
    }

    .logo {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: inline-block;
        padding: 5px;
    }

    .logo:hover {
        transition: all 100ms ease-in;
        transform: scale(1.5);
    }
    /* Media queris */

    @media only screen and (max-width: 1110px) {
        .container {
            width: 85%;
            margin: 3.4%;
            text-align: center;
           
        }
        .times {
            width: 100%;
        }
        .col {
            float: none;
            width: 95%;
            margin: 0.4%;
            padding-right: 0.6%;
            padding-bottom: 0.7%;
        }
        .times {
            padding: 0;
        }
        #details {
            text-align: center;
        }

    }