    body {
        background-color: #F8F3D9;
    }

    .header_img {
        background-image: url(images/header_img.jpg);
    }

    h1 {
        color: white;
        text-transform: uppercase;
        text-align: center;
        padding-top: 5%;
        margin-top: 0;
    }

    input[type=text] {
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .form {
        margin-top: 3%;
        text-align: center;
    }

    input[type=time] {
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        clear: both;
    }

    input[type=date] {
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    p {
        font-size: 95%;
        text-align: center;
    }

    select {
        padding: 6px 6px;
        margin-top: 1%;
        display: inline-block;
        box-sizing: border-box;
    }

    .wrap {
        display: block;
    }

    .form-wrap {
        display: inline-block;
        margin-top: 20px;
    }

    label {
        display: block;
        padding: 10px;
    }

    input[type=submit] {
        padding: 12px 20px;
        margin-top: 2%;
        margin-bottom: 4%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input {
        width: 19%;
        text-align: center;
    }

    @media only screen and (max-width: 750px) {
        h1 {
            font-size: 1.2em;
            margin: 0;
            padding: 14%;
        }
       
        input {
            width: 90%;
        }
    }