body {
    background-color: #F8F3D9;
}

.header_img {
    background-image: url(images/header_img.jpg);
}


h3 {
    color: black;
    font-size: 30px;
    text-align: center;
    margin: 2%;
}

.Categories table {
    margin-left: 95px;
}

.Categories a {
    margin-left: 50px;
    margin-right: 30px;
    font-size: 20px;
    text-decoration: none;
}

#Menu {
    margin-left: 23%;
    display: block;
}

td {
    display: block;
    text-align: center;
}

p {
    margin-left: 4%;
    font-size: 19px;
    text-decoration: none;
}

h2 {
    text-align: center;
    font-weight: 100;
}

.menu-item {
    width: 35em;
    margin-left: 30%;
    margin-bottom: 1%;
    background-color: #F8F3D9;
    border: 5px solid #D45235;
}

.price {
    display: block;
    margin-left: 83%;
    margin-bottom: -2%;
    font-weight: bold;
}

#menu li {
    display: inline-block;
    padding: 1em;
}

#menu {
    margin-left: 20%;
}

footer {
    bottom: 0;
    position: fixed;
    width: 98%;
}

.top {
    float: right;
    text-decoration: none;
    margin-bottom: 2%;
}

.top:hover {
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
}

.top:visited {
    color: #D45235;
}

@media only screen and (max-width: 750px) {

    h1 {
        font-size: 2em;
    }
    .line span::before,
    .line span::after {
        width: 0%;
    }
    h3 {
        font-size: 1.5em;
        margin: 4%;
        margin-left: 10%;
    }
    .menu-item {
        width: 98%;
        margin: 0;
        margin-bottom: 2%;
    }
    #bar {
        font-size: 2.5em;
    }
    .top {
        margin: 0;
    }
    footer {
        position: relative;
        width: 98%;
    }
}